<style>
/* CSS */
.list-counter-circle {
  list-style: none;
  counter-reset: list;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.list-counter-circle>li {
  position: relative;
  display: block;
  height: 2rem;
  line-height: 2rem;
  margin-left: 1.75rem;
  margin-bottom: .25rem;
  padding-left: 1rem;
  padding-right: .5rem;
  color: #fff;
  background: #009edf;
  white-space: nowrap;
  border-radius: .25rem;
}
.list-counter-circle>li:last-child {
  margin-bottom: 0;
}
.list-counter-circle>li::before {
  content: counter(list);
  counter-increment: list;
  position: absolute;
  left: -2rem;
  top: -.25rem;
  bottom: -.25rem;
  width: 2.5rem;
  line-height: 2rem;
  border-radius: 1.25rem;
  border: .25rem solid #fff;
  text-align: center;
  color: #fff;
  background: #009edf;
}
</style>

<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><h1>User</h1></li>
    </ul>
    
    <div class="col-md-3 text-end">
        <span class="btn btn-outline-primary me-2"><%= link_to "Return to users page", users_path, method: :get %></span>
    </div>
  </header>
</div>
<div class="container">
  <div class="row main-form">
        <ol class="list-counter-circle ">
          <li><%=@user.last_name + ' ' + @user.first_name + '(' + @user.type + ')'%></li>
          <li><%=@user.email%></li>
          <li><%=@user.phone_number%></li>
        </ol>
    </div>
</div>