<h1>User |
  <%= link_to "return to users page",
    users_path,
    method: :get
  %>
</h1>

<ul>
    <li><%=@user.last_name + ' ' + @user.first_name + '(' + @user.type + ')'%></li>
    <li><%=@user.email%></li>
    <li><%=@user.phone_number%></li>
</ul>