<section id="team" class="team section-bg" style="margin-top: 50px">
    <div class="container">

        <div class="section-title">
            <h2><%= t 'team_page.team'%></h2>
            <p><%= t 'team_page.p_under_team'%></p>
        </div>

        <div class="row">
        <% @masters.each do |master|%>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/theme/img/team/team-1.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4><%= master.full_name%></h4>
                        <span> <%= master.phone_number %></span>
                    </div>
                </div>
            </div>
            <%end%>
        </div>
    </div>
</section>